@model IEnumerable<MasterApplication_SSluzbaMVC.Models.RegisterForAnExam>

<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit", "RegisterForAnExams")')"><i class="fa fa-plus"></i> Register new exam</a>

<table id="registerForAnExamTable" class="table table-striped compact display table-hover table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>Exam date</th>
            <th>Exam room</th>
            <th>Department</th>
            <th>Student</th>
            <th>Index number</th>
            <th>Professor</th>
            <th>Subject</th>
            <th>Exam period</th>
            <th> </th>
        </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />






@section scripts
{

    <script scr="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>



    <script>
    var Popup, dataTable;
    $(document).ready(function() {
        dataTable = $('#registerForAnExamTable').dataTable({
            "ajax": {
                "url": "/RegisterForAnExams/GetData",
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "ExamDate",
                    "render": function (data) { return moment(data).format("DD-MM-YYYY HH:mm"); },
                    "width": "100px",
                    "autoHeight":true

                },
                { "data": "ExamRoom", "width": "80px", "autoHeight": true },
                { "data": "Department.DepartmentName", "width": "140px", "autoHeight": true },
                { "data": "Student.StudentName", "width": "100px", "autoHeight": true },
                { "data": "Student.IndexNumber", "width": "60px", "autoHeight": true },

                { "data": "Professor.ProfessorName", "width": "100px", "autoHeight": true },
                { "data": "Subject.SubjectName", "width": "120px", "autoHeight": true },
                { "data": "ExamPeriod.ExamPeriodName", "autoWidth": true, "autoHeight": true },
                {
                    "data": "RegisterForAnExamID",
                    "render": function(data) {
                        return "<a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit", "RegisterForAnExams")/" +
                            data +
                            "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data +")><i class='fa fa-trash'></i> Delete</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                        "width": "125px"
                    }
                ],
                "language":
                {
                    "emptyTable":
                        "No data found, please <b> register new exam </b>"
                }
            });
    });


        function Delete(id) {

            var dialog = bootbox.dialog({
                title: 'Confirm',
                message: "<p>Are you sure you want to delete this exam registration?</p>",
                buttons: {
                    no: {
                        label: "No",
                        className: 'btn-default',
                        callback: function() {
                            bootbox.hideAll();
                        }
                    },
                    yes: {
                        label: "Yes",
                        className: 'btn-danger',
                        callback: function() {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("Delete","RegisterForAnExams")/' + id,
                                success: function(data) {
                                    if (data.success) {

                                        dataTable.api().ajax.reload();

                                        $.notify(data.message,
                                            {
                                                globalPosition: "top center",
                                                className: "success"
                                            });

                                    }
                                }
                            });
                        }
                    }
                }
            });

        }
    </script>
}



